:root {
  --primary-color: #1a9f60;
  --lightGrey-color: #ddd;
  --darkGrey-color: #888;
  --grid-maxWidth: 120rem;
  --grid-gutter: 1.5rem;
  --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

body {
  width: 100%;
  overflow-x: hidden;
}

.container {
  max-width: 720px;
  margin: 50px auto;
  padding: 0 20px;
}

.button {
  cursor: pointer;
}

select[multiple] {
  background-image: none;
}

.success-message {
  color: var(--primary-color);
}

.output {
  font-family: monospace;
}

.notification {
  position: absolute;
  display: flex;
  padding: 10px;
  top: 70px;
  right: -300px;
  width: 300px;
  height: 90px;
  z-index: 99999;
  background-color: #fff;
  transition: right ease-in-out 300ms;
}

.notification.in-view {
  right: 20px;
}

.notification-actions {
  position: absolute;
  top: 6px;
  right: 6px;
}

.notification-icon {
  margin-right: 12px;
}

.notification-title {
  font-size: 0.9em;
  margin: 0;
}

.notification-body {
  font-size: 0.7em;
  line-height: 1;
}
